{% extends 'base.html' %} 
{% block title %}
    Stan de Montmarin
{% endblock title %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Welcome to Stan's Marketplace</h1>
            <p class="lead font-weight-normal">Start purchasing products by clicking the link below</p>
            <a href="{{ url_for('home_page') }}" class="btn btn-primary">Get Started</a>
        </div>
    </div>
{% endblock content %}